body {
    color: white;
}

.edit {
    background-image: url('fundo3.jpg');
    background-repeat: no-repeat;
    background-position: unset;
    background-size: 150em;
    background-position: top;
}

.index {
    background-image: url('fundo2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130em;
}

* {
    margin: 0;
    padding: 0;
}

.container_principal {
    color: white;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 35px;
    margin-top: 25px;
}

.container_adicionar {
    margin: 1em 0 2em 20px;
    font-weight: bold;
    font-size: 35px;
}

.formulario_adicao {
    margin-left: 1em;
}

.campo {
    margin-bottom: 10px;
    margin-left: 1em;
}

.botao_submit {
    border-radius: 15px;
    font-size: 25px;
    padding: 5px 10px;
    font-weight: bold;
    margin-left: 1em;
}

.box_formulario {
    border-radius: 10px;
    padding: 5px 10px;
    width: 30%; 
    height: 30px; 
    resize: vertical; 
}

.adicoes {
    font-size: 25px;
    font-weight: bold;
}
.descricao_dos_filmes {
    align-items: center;
    margin-bottom: 10px;
    text-align: justify;
    margin-right: 5em;
    margin-left: 2em;
    padding: 5px 10px;
    text-decoration: none;
}

.listagem {
    margin-bottom: 1em;
}

.titulo {
    font-weight: bold;
}

.formulario_edicao {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 15px;
    width: 30%; 
    height: 30px; 
    resize: vertical; 
    margin-top: 2em;
    margin-left: 1em;
}

.box_edicao {
    width: 100%;
    height: 25px; 
    resize: vertical; 
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 15px;
}

.input {
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    width: 30%; 
    height: 30px; 
    resize: vertical; 
}

.botao_save {
    width: 130px;
    height: 40px;
    font-weight: bold; 
    border-radius: 10px;
    font-size: 2em;
    margin-top: 1em;
}