<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="edit">
    <div class="container">

        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>

        {% block conteudo %}
        <div>
            <form id="editar_filme_form" onsubmit="return confirmarEdicao()" action="{{ url_for('atualizar') }}"
                method="post">
                <fieldset class="formulario_edicao">
                    <input type="hidden" name="id" value="{{ filme.id }}">
                    <div class="form-group">
                        <label for="titulo" class="input">Título:</label><br>
                        <input type="text" id="titulo" name="titulo" class="box_edicao" value="{{ filme.titulo }}">
                    </div>
                    <div class="form-group">
                        <label for="anoDeLancamento" class="input">Ano de lançamento:</label><br>
                        <input type="text" id="anoDeLancamento" name="anoDeLancamento" class="box_edicao"
                            value="{{ filme.anoDeLancamento }}">
                    </div>
                    <div class="form-group">
                        <label for="genero" class="input">Gênero:</label><br>
                        <input type="text" id="genero" name="genero" class="box_edicao" value="{{ filme.genero }}">
                    </div>
                    <div class="form-group">
                        <label for="descricao" class="input">Descrição:</label><br>
                        <input type="text" id="descricao" name="descricao" class="box_edicao"
                            value="{{ filme.descricao }}">
                    </div>
                    <button type="submit" class="botao_save">Salvar</button>
                </fieldset>
            </form>
            {% endblock %}
        </div>

    </div>

    <script>
        function confirmarEdicao() {
            if (confirm("Tem certeza que deseja salvar as alterações?")) {
                return alert("Filme editado com sucesso!");
            } else {
                return false;
            }
        }
    </script>
</body>

</html>