<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API de Filmes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="index">
    <h1 class="container_principal">MovieVerse</h1>
    <ul class="descricao_dos_filmes">
        {% for filme in filmes %}
        <li class="listagem">
            <span class="titulo">{{ filme.titulo }}</span> - {{ filme.ano_lancamento }} - {{ filme.genero }} - {{
            filme.descricao }}
            <a href="{{ url_for('editar', filme_id=filme.id) }}">Editar</a>
            <a href="javascript:void(0);" onclick="confirmarExclusao('{{ filme.id }}')">Deletar</a>
        </li>
        {% endfor %}
    </ul>
    <h2 class="container_adicionar">Adicionar Filmes</h2>
    <section>
        <div>
            <form id="adicionar_filme_form" onsubmit="return confirmarInclusao()" action="/adicionar_filme"
                method="post">
                <div class="campo">
                    <label for="titulo" class="adicoes">Título:</label><br>
                    <input type="text" id="titulo" name="titulo" class="box_formulario"><br>
                </div>
                <div class="campo">
                    <label for="ano_lancamento" class="adicoes">Ano de Lançamento:</label><br>
                    <input type="number" id="ano_lancamento" name="ano_lancamento" class="box_formulario"><br>
                </div>
                <div class="campo">
                    <label for="genero" class="adicoes">Gênero:</label><br>
                    <input type="text" id="genero" name="genero" class="box_formulario"><br>
                </div>
                <div class="campo">
                    <label for="descricao" class="adicoes">Descrição:</label><br>
                    <textarea id="descricao" name="descricao" class="box_formulario"></textarea><br>
                </div>
                <input type="submit" value="Adicionar Filme" class="botao_submit">
            </form>
        </div>
    </section>

    <script>
        function confirmarInclusao() {
            if (confirm("Tem certeza que deseja adicionar este filme?")) {
                return alert("Filme adicionado com sucesso!");
            } else {
                return false;
            }
        }
    </script>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </form>
    </div>
    </section>

    <script>
        function confirmarExclusao(filme_id) {
            if (confirm("Tem certeza que deseja excluir este filme?")) {
                fetch('/excluir_filme/' + filme_id, {
                    method: 'DELETE',
                }).then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert("Filme excluído com sucesso!");
                        window.location.reload();
                    }
                });
            }
        }
    </script>

</body>

</html>